.vscode/launch.json
.vscode/tasks.json
FinanceTrackerApp/bin/Debug/net7.0/FinanceTrackerApp
FinanceTrackerApp/bin/Debug/net7.0/FinanceTrackerApp.deps.json
FinanceTrackerApp/bin/Debug/net7.0/FinanceTrackerApp.dll
FinanceTrackerApp/bin/Debug/net7.0/FinanceTrackerApp.pdb
FinanceTrackerApp/bin/Debug/net7.0/FinanceTrackerApp.runtimeconfig.json
FinanceTrackerApp/obj/Debug/net7.0/apphost
FinanceTrackerApp/obj/Debug/net7.0/FinanceTrackerApp.csproj.CoreCompileInputs.cache
FinanceTrackerApp/obj/Debug/net7.0/FinanceTrackerApp.csproj.FileListAbsolute.txt
FinanceTrackerApp/obj/Debug/net7.0/FinanceTrackerApp.dll
FinanceTrackerApp/obj/Debug/net7.0/FinanceTrackerApp.genruntimeconfig.cache
FinanceTrackerApp/obj/Debug/net7.0/FinanceTrackerApp.pdb
FinanceTrackerApp/obj/Debug/net7.0/ref/FinanceTrackerApp.dll
FinanceTrackerApp/obj/Debug/net7.0/refint/FinanceTrackerApp.dll

.fake